{{ 'component-swatches.css' | asset_url | stylesheet_tag }}
{% assign all_stocks = product.metafields.app--83603914753--inventories.inventories %}

<div id="swatches-variants" class="swatches-variants-wrapper">
<script id="stockData" type="application/json">{{ all_stocks }}</script>
{% for variant in product.metafields.app--83603914753--variants %}
  {% assign variantName = variant[0] %}
  {% assign variantIds = variant[1].value %}
  {% assign variantType = shop.metaobjects['app--83603914753--variants-data'][variantName].type %}
  <div class="variant-container">
        <p class="variant-title">{{variantName}}</p>
        <div class="variants-wrapper">
            {%- for variantField in variantIds -%}
             
                {% if variantType == 'color' %}
                    <div class="color-variant variant-value" data-name="{{variantName}}" data-value="{{variantField.value}}" style="background: {{variantField.value}};"></div>
                {%  elsif variantType == 'image' %}
                    <div class="image-variant variant-value" data-name="{{variantName}}" data-value="{{variantField.value}}">
                        <img src="{{ variantField.value | img_url }}" />
                    </div>
                {% else %}
                    <div class="text-variant variant-value" data-name="{{variantName}}" data-value="{{variantField.value}}">
                        <p>{{ variantField.value}}</p>
                    </div>
                {% endif %}
             
            {% endfor %}
        </div>
    </div> 
{% endfor %}
</div>


<script src="{{ 'swatches.js' | asset_url }}" defer="defer"></script>